<div class="flash-alert">
    <% if (messages.success) { %>
        <p class="flash-success"><strong>SUCCESS!</strong> <%= messages.success %></p>
    <% } %>
    <% if (messages.error) { %>
        <p class="flash-error"><strong>ERROR!</strong> <%= messages.error %></p>
    <% } %>
</div>
<div class="admin-title">
    <h2>Manage Blogs</h2>
    <a href="/add-post" class="button"> + Add New Blog Post</a>
</div>

<table class="admin-posts">
    <thead>
        <tr>
            <th>Title</th>
            <th class="ctrl" colspan="2">Controls</th>
        </tr>
    </thead>
    <tbody>
        <% data.forEach(post => { %>
            <tr>
                <td>
                    <a href="/post/<%= post._id %> ">
                        <%= post.title %> &nearr;
                    </a>
                </td>
                <td class="admin-post-controls">
                    <% if (post.author.equals(user._id)) { %>
                        <a href="/edit-post/<%= post._id %>" class="btn">Edit</a>
                    <% } %>
                </td>
                <td class="admin-post-controls">
                    <% if (post.author.equals(user._id)) { %>
                        <form action="/delete-post/<%= post._id %>?_method=DELETE" method="post">
                            <input type="submit" value="Delete" class="btn-delete btn">
                        </form>
                    <% } %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>


