<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
<style>
.ql-font-roboto {
  font-family: 'Poppins';
}
</style>
  

<a href="/dashboard">&larr; Back To Posts</a>

<div class="admin-title">
    <h2>View / Edit Blog Post</h2>
</div>

<form action="/delete-post/<%= data._id %>?_method=DELETE" method="POST">
    <input type="submit" value="Delete" class="btn-delete btn">
</form>

<form action="/edit-post/<%= data._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

    <label for="title"><b>Title</b></label>
    <input type="text" placeholder="Post Title" name="title" value="<%= data.title %>">
    <br />
    <label for="title"><b>Change Cover Image</b></label> <br />
    <br />
    <input class="form-control form-control-lg" type="file" name="image" accept="image/*" required>
    
    <br />
    <!-- Display the current image if available -->
    <% if (data.image) { %>
        <img src="<%= data.cover %>" alt="Current Image" style="max-width: 100%;">
    <% } %>

    <input type="hidden" id="quill-content" name="body">

    <label for="body"><b>Content</b></label>

    <div id="editor-container" name="body"><%- data.body %></div>

    <input type="submit" value="Update" class="btn">
</form>



<script>
    document.addEventListener("DOMContentLoaded", function () {
        var toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'code-block', 'image', 'link'],
            [{ 'header': 1 }, { 'header': 2 }],
            [{ 'list': 'ordered'}, { 'list': 'bullet' }],
            [{ 'script': 'sub'}, { 'script': 'super' }],
            [{ 'indent': '-1'}, { 'indent': '+1' }],
            [{ 'direction': 'rtl' }],
            [{ 'size': ['small', false, 'large', 'huge'] }],
            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
            [{ 'color': [] }, { 'background': [] }],
            [{ 'font': [] }],
            [{ 'align': [] }],
            ['clean']
        ];

        var quill = new Quill('#editor-container', {
            modules: {
                toolbar: toolbarOptions
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        });


        var form = document.querySelector('form');
        var hiddenInput = document.querySelector('input[name="body"]');

        // Initialize hidden input with the initial content
        hiddenInput.value = quill.root.innerHTML;

        // Listen to the text-change event to update the hidden input
        quill.on('text-change', function () {
            var editorContent = quill.root.innerHTML;
            hiddenInput.value = editorContent;
           
        });

        form.onsubmit = function () {
            // For debugging purposes


            // Add any additional logic here if needed before submitting the form

            return true; // Change to true to allow the form submission
        };

    });
</script>