<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ÃE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="icon" type="image/x-icon" href="/img/rb.ico">
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/moment.js"></script>

    <script id="dsq-count-scr" src="//https-lolito-onrender-com.disqus.com/count.js" async></script>
    
    <!-- Include the Quill JS library and styles -->
    <link href="/css/quill.snow.css" rel="stylesheet">
    <!-- Include Scripts from /js folder in /public? -->
    <script src="/js/quill.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/image-resize.min.js"></script>
    <script src="/js/quillEditor.js"></script>
    <script src="/js/dark-light.js"></script>
    

</head>
<body>
    <div class="container">
        <%- include('../partials/header_admin.ejs', { currentRoute: '/main' }) %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>
    <script type="text/javascript" defer src="/js/script.js"></script>
</body>
</html>