<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ÃE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <link rel="icon" type="image/x-icon" href="/img/rb.ico">
    <meta name="description" content="<%= locals.description %>">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/moment.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <div class="banner"></div>
    
    <%- include('../partials/search.ejs') %>

    <div class="container">

        <%- include('../partials/header.ejs') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

<script id="dsq-count-scr" src="//https-lolito-onrender-com.disqus.com/count.js" async></script>

</body>
</html>