<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ÃE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= locals.title %></title>
    <meta property="og:title" content="radblok">
    <meta property="og:type" content="website">
    <meta name="author" content="[Mafanga Lolito]">
    <meta property="article:published_time" content="2024-04-15T08:00:00Z">
    <meta property="og:description" content="<%= locals.description %>">
    <meta property="fb:app_id" content="777180374339914">
    <meta property="og:url" content="https://www.radblok.co.za/">
    <meta property="og:image" content="https://res.cloudinary.com/dhdc57kw9/image/upload/v1713704232/d4k9hrjvxogtzqslferc.png">
    <meta property="og:image:width" content="1200px">
    <meta property="og:image:height" content="630px">

    <meta name="description" content="<%= locals.description %>">
    <link rel="icon" type="image/x-icon" href="/img/rb.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" defer src="/js/moment.js"></script>
    <script type="text/javascript" defer src="/js/header.js"></script>
    <script type="text/javascript" defer src="/js/script.js"></script>
</head>
<body>
    <div class="banner"></div>
    
    <%- include('../partials/search.ejs') %>

    <div class="container">

        <%- include('../partials/header.ejs') %>
        <main class="main">
            <%- body %>
        </main>
        <%- include('../partials/footer.ejs') %>
    </div>

<script id="dsq-count-scr" src="//https-lolito-onrender-com.disqus.com/count.js" async></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body><script src="/js/jquery.backstretch.min.js"></script>

<script>
    $.backstretch("/img/pngtree-textured-white-paper-with-wrinkled-and-glued-appearance-image_13871805.png");
</script>


</html>