<style>

  .container {
    max-width: 982px !important;
    margin: 0 auto !important;
    padding: 0 10px !important;
  }
  .author-container {
    text-align: center;
  }

  
  .articles__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  </style>
  
  <div class="author author-container">
    <a href="/about" class="<%= isActiveRoute('/about') %>">
      <h1 class="author_heading"><span id="red">rad</span>blok</h1>
    </a>
    <p class="author__body">rm for Publishing Written Content</p>
  </div>
  
  <div class="flash-alert">
    <% if ( messages.success ) { %>
      <p class="flash-success"><strong></strong> <%= messages.success %></p>
    <% } %>
    <% if ( messages.error ) { %>
      <p class="flash-error"><strong></strong> <%= messages.error %></p>
    <% } %>
  </div>
  
  <section class="articles container">
    <hr />
    <h3 class="articles__heading">
      <span class="latestspan">Latest Posts</span>
      <!-- Add the button here -->
      
      <button class="articles__button"><a href="/add-post">Add Article</a></button>
    </h3>
    <hr />
  
    <% if (data != '') { %>
      <% data.forEach((post, index) => { %>
        <article class="article-border" <%= index %>>
          <a href="/post/<%= post._id %>" class="blog-link">
            <br />
            <div class="article-wrapper">
              <figure class="image-container">
                <img class="img-thumbnail" src="<%= post.cover %>" alt="" />
              </figure>
              <div class="article-body">
                <h2 class="post-title"><%= post.title %></h2>
                <hr />
                <div class="date-author">
                  <div class="centered-info">
                    <p class="date">
                      <%= moment(post.createdAt).format('Do MMMM YYYY - HH:mm:ss') %>
                    </p>
                    <p class="author">
                      <span class="authorspan">@<%= post.author.username %></span>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </article>
      <% }) %>
    <% } else { %>
      <h1>No Posts found in the DB</h1>
      <button class="articles__button"><a href="/add-post">Add Article</a></button>
    <% } %>
  
    <% if ( nextPage !== null ) { %> 
      <a href='/?page=<%= nextPage %>' class='pagination'>&lt; Older</a>
    <% } %>
  
    <% if (current > 1) { %>
      <a href="/?page=<%= current - 1 %>" class="pagination pagination-right">Newer &gt;</a>
    <% } %>
  </section>
  