
<div class="author">
    <!-- <h1 class="author_heading">Standard Operating Procedures</h1> -->
    <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">
      <h1 class="author_heading"><span id="red">rad</span>blok</h1>
    </a>
    <p class="author__body">Agile Full Stack MERN 👨‍💻 </p>
</div>

<img src="/img/hero.webp" alt="gscc" class="hero-image" width="1920" height="1080">

    <section class="articles">
    <hr />
    <h3 class="articles__heading"><span >Latest Posts</span></h3>

    <% if (data != '') { %>

        <% data.forEach((post, index) => { %>
          <article class="article-border" <%= index %>>
            <a href="/post/<%= post._id %>">
              <br />
              <div class="article-wrapper">
                <figure class="image-container">

                  <img class="img-thumbnail" src="<%= post.cover %>" alt="" />

                </figure>
                <div class="article-body">
                  <h2><%= post.title %></h2>
                  <hr />
                  <div class="date-author">
                    <p class="date">
                      <a href="/post/<%= post._id %>">
                        <%= moment(post.createdAt).format('Do MMMM YYYY - HH:mm:ss') %>
                      </a>
                    </p>
                    <p class="author">
                      @<%= post.author.username %>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </article>
        <% }) %>

   <% } else { %>
            <h1>No Posts found in the DB</h1>
        <% } %>
            




    <% if ( nextPage !== null ) { %> 
        <a href='/?page=<%= nextPage %>' class='pagination'>&lt; Older</a>
    <% } %>

    <% if (current > 1) { %>
        <a href="/?page=<%= current - 1 %>" class="pagination pagination-right">Newer &gt;</a>
    <% } %>

</section>