

<div class="author">
  
  <div class="flash-alert">
    <% if ( messages.success ) { %>
      <p class="flash-success"><strong>SUCCESS!</strong> <%= messages.success %></p>
    <% } %>
    <% if ( messages.error ) { %>
      <p class="flash-error"><strong>ERROR!</strong> <%= messages.error %></p>
    <% } %>
  </div>

    <a href="/about" class="<%= isActiveRoute('/about', currentRoute) %>">
      <h1 class="author_heading"><span id="red">rad</span>blok</h1>
    </a>
    <p class="author__body">Online Platform for Publishing Written Content</p>
</div>

    <section class="articles">
    <hr />
    <h3 class="articles__heading"><span >Latest Posts</span></h3>
    <hr />
    <% if (data != '') { %>

        <% data.forEach((post, index) => { %>
          <article class="article-border" <%= index %>>
            <a href="/post/<%= post._id %>" class="blog-link">
              <br />
              <div class="article-wrapper">
                <figure class="image-container">

                  <img class="img-thumbnail" src="<%= post.cover %>" alt="" />

                </figure>
                <div class="article-body">
                  <h2><%= post.title %></h2>
                  <hr />
                  <div class="date-author">
                    <p class="date">
                      <a href="/post/<%= post._id %>">
                        <%= moment(post.createdAt).format('Do MMMM YYYY - HH:mm:ss') %>
                      </a>
                    </p>
                    <br />
                    <p class="author">
                      @<%= post.author.username %>
                    </p>
                  </div>
                </div>
              </div>
            </a>
          </article>
        <% }) %>

   <% } else { %>
            <h1>No Posts found in the DB</h1>
        <% } %>
            




    <% if ( nextPage !== null ) { %> 
        <a href='/?page=<%= nextPage %>' class='pagination'>&lt; Older</a>
    <% } %>

    <% if (current > 1) { %>
        <a href="/?page=<%= current - 1 %>" class="pagination pagination-right">Newer &gt;</a>
    <% } %>

</section>