<style>
    .container {
        padding: 20px;
    }

    .button.edit-button {
        display: inline-block;
        padding: 8px 16px; /* Adjusted size */
        text-decoration: none;
        color: #000;
        border: 1px solid #000;
        border-radius: 0; /* Removed rounded corners */
        margin-top: 10px;
        margin-bottom: 10px; /* Added margin bottom */
    }

    .button.edit-button:hover {
        display: inline-block;
        padding: 8px 16px; /* Adjusted size */
        text-decoration: none;
        color: #f30000;
        border: 1px solid #f30000;
        background-color: white;
        border-radius: 0; /* Removed rounded corners */
        margin-top: 10px;
        margin-bottom: 10px; /* Added margin bottom */
    }

    .post-author {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .authorspan {
        order: 1; /* To place the username on the left */
    }

    .date {
        order: 2; /* To place the date on the right */
    }

    
</style>

<div class="container">
  
    <a href="/edit-post/<%= data._id %>" class="button edit-button">Edit Post</a>

   
    <!-- The rest of your template -->
    <img src="<%= data.cover %>" alt="Current Image">
    <br />
    <h1><%= data.title %></h1>

    <div class="post-author">

        <span class="authorspan">@<%= data.author.username %></span>

        <p class="date">
            <%= moment(data.createdAt).format('Do MMMM YYYY - HH:mm:ss') %>
        </p>

    </div>
    


    <article class="article">
        <%- data.body.replace(/<a /g, '<a class="blog-link" ') %>
    </article>
    <div id="disqus_thread"></div>
</div>

<script>
    (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://https-lolito-onrender-com.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>